<%- include("templates/header") -%> 
<section id="home">
    <div class="prompt">
        <div>
            <h3>Generate a token</h3>
            <button id="login-btn" class="btn btn-lg">Generate</button>
            <script type="text/javascript">
                document.getElementById("login-btn").onclick = function () {
                    location.href = "/login";
                };
            </script>
            <h3>Share with student</h3>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"/>
            <button id="login-btn" class="btn btn-lg">Send</button>
            <script type="text/javascript">
                document.getElementById("login-btn").onclick = function () {
                    location.href = "/login";
                };
            </script>
            <h3>Enter Token:</h3>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Token ID"/>
            <button id="login-btn" class="btn btn-lg">Connect</button>
            <script type="text/javascript">
                document.getElementById("login-btn").onclick = function () {
                    location.href = "/login";
                };
            </script>
        </div>
    </div>
</section>
<%- include("templates/footer") -%> 