<%- include("templates/header") -%> 

<section id="drawing-pad">
    <div class="container">
        <div class="color-picker">
            <input type="color">
        </div>
        <div class="board-container">
            <canvas class="board" id="board">
        </div>
    </div>
</section>

<%- include("templates/footer") -%> 